.modelContainer {
    background-color: black;
    padding: 30px;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 600px;
    gap: 30px;
    border-bottom: solid 2px grey;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 155px;
}

@media (max-width: 768px) {
    .modelContainer {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 120px;
    }
}

.modelView {
    display: flex;
    width: 100%;
    height: 100%;
}
